body{
    background-image:url("../image/car1.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
}


#Chessboard
{
    width:800px;
    height:800px;
    border:solid black 2px;
    opacity: .8;

}
.BlackBox
{
    width: 100px;
    height:100px;
    background-color: black;
    float:left;

}
.WhiteBox
{
    width: 100px;
    height:100px;
    background-color:white;
    float:left;

}